{% extends 'base.html' %}
{% load static %}
{% block content %}
<!-- Content -->
<!--
Note: To show a background image, set the "data-bg" attribute below
to the full filename of your image. This is used in each section to set
the background image.
-->
<section id="post" class="wrapper" style="background-image: url('{% static "images/not_found.png" %}'); min-height: 100vh;">
    <div class="inner">
        <article class="box">
            <header>
                <h2>Uh Oh...</h2>
            </header>
            <div class="content">
                There doesn't seem to be anything here...
            </div>
        </article>
    </div>
</section>
{% endblock %}