{% if request.user.is_authenticated or debug %}
<nav class="navbar navbar-inverse" style="margin-bottom: 0;">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand active" href="{% url "Home" %}"> Hooks-Jorissen Wedding</a>
    </div>
    <ul class="nav navbar-nav">
      <li><a href="{% url "admin:wedding_backgroundphoto_changelist" %}" target="_blank">Background Images</a></li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <li><a href="{% url "admin:index" %}" target="_blank"><span class="glyphicon glyphicon-user"></span> Admin Panel</a></li>
      <li><a href="{% url "admin:logout" %}"><span class="glyphicon glyphicon-log-in"></span> Logout</a></li>
    </ul>
  </div>
</nav>
{% endif %}