{% extends 'base.html' %}
{% load static %}
{% block contact_content %}
    <div class="intro-header4">
  
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="intro-message">
                        <h1>Contact</h1>
                         {% include '_buttons.html' %}
                    </div>
                </div>
            </div>

        </div>
        <!-- /.container -->

    </div>
    <!-- /.intro-header -->

    <!-- Page Content -->

	<a  name="services"></a>
    <div class="content-section-a">

        <div class="container">
            <div class="row">
                <div class="col-lg-5 col-sm-6">
                    <hr class="section-heading-spacer">
                    <div class="clearfix"></div>
                    <h2 class="section-heading">Contact information</h2>
                    <p class="lead">Whilst you may have Tom or Lauren's numbers we'll list a new one that will call the happy couple similtaneously, likewise you can find single contact numbers for the bridal party, caterers and more!</p>
                    <ul>
                    <li>Happy couple</li>
                    <li>Bridal party</li>
                    <li>Venue</li>
                    <li>Catering team</li>
                </div>
                <div class="col-lg-5 col-lg-offset-2 col-sm-6">
                    <img class="img-responsive" src="{% static 'img/320379_10151876685945571_1550131728_n.jpg' %}" alt="">
                </div>
            </div>

        </div>
        <!-- /.container -->

    </div>
{% endblock contact_content %}