{% extends 'base.html' %}
{% load static %}
{% block content %}
    <div class="contact-header">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="intro-message">
                        <h1>Contact</h1>
                         {% include '_buttons.html' %}
                    </div>
                </div>
            </div>
        </div>
    </div>
    <style>
    .contact-header {
        padding-top: 50px; /* If you're making other pages, make sure there is 50px of padding to make sure the navbar doesn't overlap content! */
        padding-bottom: 50px;
        text-align: center;
        color: #f8f8f8;
         /* background: url(https://media.giphy.com/media/K0k6Oxh8whEFW/giphy.gif) no-repeat center center;
       background: url(../img/banner-bg2.png) no-repeat center center;*/
       /* background: url(https://media.giphy.com/media/LVBH3rg1BUROw/giphy.gif) no-repeat center center; */
       background: url({{ background_photos.Contact }}) no-repeat center center;
        background-size: cover;
    }
    </style>

    <!-- Page Content -->

	<a  name="services"></a>
    {% if request.user.is_superuser or request.user.is_staff or debug %}
        <h1 style="text-align: center;"><a class="btn btn-info" href="{% url "admin:wedding_content_add" %}"  target="_blank">Add Content</a></h1>
    {% endif %}
    {% for content in contents.Contact %}
        <div class="content-section-{% cycle 'a' 'b' %}">
            <div class="container">
                <div class="row">
                    <div class="{% cycle "col-lg-5 col-sm-6" "col-lg-5 col-lg-offset-1 col-sm-push-6  col-sm-6" %}">
                        <hr class="section-heading-spacer">
                        <div class="clearfix"></div>
                        {{ content.description.rendered|safe }}
                        <p>
                            {% if request.user.is_superuser or request.user.is_staff or debug %}
                                <a class="btn btn-info" href="{% url 'admin:wedding_content_change' content.pk %}" target="_blank">Edit Content</a>
                            {% endif %}
                        </p>
                    </div>
                    <div class="{% cycle "col-lg-5 col-lg-offset-2 col-sm-6" "col-lg-5 col-sm-pull-6  col-sm-6" %}">
                        <img class="img-responsive" src="{{ content.image }}" />
                    </div>
                </div>
            </div>
        </div>
    {% endfor %}

    </div>
{% endblock content %}