{% extends 'base.html' %}
{% load static %}
{% block content %}
    <div class="intro-header_gifts">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="intro-message">
                        <h1>Gifts</h1>
                        {% include '_buttons.html' %}
                    </div>
                </div>
            </div>
        </div>
        <!-- /.container -->

    </div>
    <!-- /.intro-header -->

    <!-- Page Content -->

    <a  name="services"></a>
    <div class="content-section-a">

        <div class="container">
            <div class="row">
                <div class="col-lg-5 col-sm-6">
                    <hr class="section-heading-spacer">
                    <div class="clearfix"></div>
                    <h2 class="section-heading">Gifts</h2>
                    <p class="lead">Tom and Lauren are looking forward to some rest and relaxation after the exquisite chaos that is planning a Wedding. Though not required, any contributions to the Honeymoon will be greatly appreciated. You can also view our gift list by<a href="">  entering Gift List number 1234567 on this page</a>.</p>
                </div>
                <div class="col-lg-5 col-lg-offset-2 col-sm-6">
                    <img class="img-responsive" src="{% static "img/IMG_0002.JPG" %}" alt="">
                </div>
            </div>

        </div>
        <!-- /.container -->

    </div>
{% endblock content %}