{% extends 'base.html' %}
{% load static %}
{% block content %}

    <section id="banner" style="background-image: url({{ base_background.picture.url }});">
        <div class="inner">
            <header>
                <h1>{{ event.couple }}</h1>
                <h3>{{ event.start|date }}</h3>
                <h3>{{ event.venue }}</h3>
                <h3>Ceremony begins {{ event.start|date:"g:i A" }}</h3>
                <h2></h2>
            </header>
            {% if request.user.is_superuser or request.user.is_staff %}
            <article class="box">
                <footer>
                    <a class="button alt" href="{% url 'admin:wedding_page_add' %}" target="_blank">Add Page</a>
                    <a class="button alt" href="{% url 'admin:wedding_basebackground_add' %}" target="_blank">Add Banner</a>
                    {% if event %}
                        <a class="button alt" href="{% url 'admin:wedding_event_change' event.pk %}" target="_blank">Edit Event</a>
                    {% else %}
                        <a class="button alt" href="{% url 'admin:wedding_event_add' %}" target="_blank">Add Event</a>
                    {% endif %}
                </footer>
            </article>
            {% endif %}
        </div>
        <a href="#one" class="more scrolly">Learn More</a>
    </section>
    {% for page in pages %}
        {% if page.picture %}
            {% with page.picture.url as pic_url %}
                <section id="{{ page.pk }}" class="wrapper post" style="background-image: url({{ pic_url }});">
            {% endwith %}
        {% else %}
            <section id="{{ page.pk }}" class="wrapper post" style="background-image: url();">
        {% endif %}
        <div class="inner">
            <article class="box">
                <header>
                    <h2>{{ page.header }}</h2>
                </header>
                <div class="content">
                    {{ page.description|safe }}
                </div>
                <br>
                <footer>
                    <a href="{% url "page" page.slug %}" class="button alt">Learn More</a>
                    {% if request.user.is_superuser or request.user.is_staff %}
                        <a class="button alt" href="{% url 'admin:wedding_page_change' page.pk %}" target="_blank">Edit Page</a>
                    {% endif %}
                </footer>
            </article>
        </div>
    </section>
    {% endfor %}
{% endblock %}
