{% extends 'base.html' %}
{% load static %}
{% block content %}
    <!-- Header -->
    <a name="about"></a>
    <div class="intro-header">
        <div class="container">
            <div>
                <div class="row">
                    <div class="col-lg-12">
                        <div class="intro-message">
                            <h1>{{ event.couple }}</h1>
                            <h3>{{ event.date|date }}</h3>
                            <h3>{{ event.venue }}</h3>
                            <h3>Ceremony begins {{ event.start|date:"g:i A" }}</h3>
                            {% include '_buttons.html' %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <style>
    .intro-header {
        padding-top: 50px; /* If you're making other pages, make sure there is 50px of padding to make sure the navbar doesn't overlap content! */
        padding-bottom: 50px;
        text-align: center;
        color: #f8f8f8;
        background: url({{ background_photos.Home }}) no-repeat center center;
        background-size: cover;
    }
    </style>
    <!-- /.intro-header -->
    <!-- Page Content -->
	<a  name="services"></a>
    {% for content in contents.Home %}
        <div class="content-section-{% cycle 'a' 'b' %}">
            <div class="container">
                <div class="row">
                    <div class="{% cycle "col-lg-5 col-sm-6" "col-lg-5 col-lg-offset-1 col-sm-push-6  col-sm-6" %}">
                        <hr class="section-heading-spacer">
                        <div class="clearfix"></div>
                        {{ content.description.rendered|safe }}
                    </div>
                    <div class="{% cycle "col-lg-5 col-lg-offset-2 col-sm-6" "col-lg-5 col-sm-pull-6  col-sm-6" %}">
                        <img class="img-responsive" src="{{ content.image }}" />
                    </div>
                </div>
            </div>
        </div>
    {% endfor %}
{% endblock content %}