{% extends 'base.html' %}
{% block content %}
    <a name="about"></a>
    <div class="venue-header">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="intro-message">
                        <h1>{{ event.venue }}</h1>
                        <p>
                            {% if request.user.is_superuser or request.user.is_staff or debug %}
                                <a class="btn btn-info" href="{% url 'admin:wedding_venue_change' event.pk %}" target="_blank">
                                    Edit Venue
                                </a>
                            {% endif %}
                        </p>
                        {% include '_buttons.html' %}
                    </div>
                </div>
            </div>
        </div>
    </div>
    <style>
        .venue-header {
            padding-top: 50px; /* If you're making other pages, make sure there is 50px of padding to make sure the navbar doesn't overlap content! */
            padding-bottom: 50px;
            text-align: center;
            color: #f8f8f8;
             background: url({{ background_photos.Venue }}) no-repeat center center;
            background-size: cover;
        }
    </style>

    <!-- Page Content -->

	<a  name="services"></a>
    {% if request.user.is_superuser or request.user.is_staff or debug %}
        <h1 style="text-align: center;"><a class="btn btn-info" href="{% url "admin:wedding_content_add" %}"  target="_blank">Add Content</a></h1>
    {% endif %}
    {% if venue.display_description %}
        <div class="content-section-a">
            <div class="container">
                <div class="row">
                    <div class="col-lg-5 col-sm-6">
                        <hr class="section-heading-spacer">
                        <div class="clearfix"></div>
                        {{ venue.description.rendered|safe }}
                        <p>
                            {% if request.user.is_superuser or request.user.is_staff or debug %}
                                <a class="btn btn-info" href="{% url 'admin:wedding_venue_change' venue.pk %}" target="_blank">Edit Venue</a>
                            {% endif %}
                        </p>
                    </div>
                    <div class="col-lg-5 col-lg-offset-2 col-sm-6">
                        <img class="img-responsive" src="{{ venue.image }}" />
                    </div>
                </div>
            </div>
        </div>
        {% for content in contents.Venue %}
            <div class="content-section-{% cycle 'b' 'a' %}">
                <div class="container">
                    <div class="row">
                        <div class="{% cycle "col-lg-5 col-lg-offset-1 col-sm-push-6  col-sm-6" "col-lg-5 col-sm-6" %}">
                            <hr class="section-heading-spacer">
                            <div class="clearfix"></div>
                            {{ content.description.rendered|safe }}
                            <p>
                                {% if request.user.is_superuser or request.user.is_staff or debug %}
                                    <a class="btn btn-info" href="{% url 'admin:wedding_content_change' content.pk %}" target="_blank">Edit Content</a>
                                {% endif %}
                            </p>
                        </div>
                        <div class="{% cycle "col-lg-5 col-sm-pull-6  col-sm-6" "col-lg-5 col-lg-offset-2 col-sm-6" %}">
                            <img class="img-responsive" src="{{ content.image }}" />
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
    {% else %}
        {% for content in contents.Venue %}
            <div class="content-section-{% cycle 'a' 'b' %}">
                <div class="container">
                    <div class="row">
                        <div class="{% cycle "col-lg-5 col-sm-6" "col-lg-5 col-lg-offset-1 col-sm-push-6  col-sm-6" %}">
                            <hr class="section-heading-spacer">
                            <div class="clearfix"></div>
                            {{ content.description.rendered|safe }}
                            <p>
                                {% if request.user.is_superuser or request.user.is_staff or debug %}
                                    <a class="btn btn-info" href="{% url 'admin:wedding_content_change' content.pk %}" target="_blank">Edit Content</a>
                                {% endif %}
                            </p>
                        </div>
                        <div class="{% cycle "col-lg-5 col-lg-offset-2 col-sm-6" "col-lg-5 col-sm-pull-6  col-sm-6" %}">
                            <img class="img-responsive" src="{{ content.image }}" />
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
    {% endif %}
{% endblock content %}