{% extends 'base.html' %}
{% block content %}
    <a name="about"></a>
    <div class="venue-header">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="intro-message">
                        <h1>{{ event.venue }}</h1>
                        <p>
                            {% if request.user.is_superuser or request.user.is_staff or debug %}
                                <a class="btn btn-info" href="{% url 'admin:wedding_venue_change' event.pk %}" target="_blank">
                                    Edit Venue
                                </a>
                            {% endif %}
                        </p>
                        {% include '_buttons.html' %}
                    </div>
                </div>
            </div>
        </div>
    </div>
    <style>
        .venue-header {
            padding-top: 50px; /* If you're making other pages, make sure there is 50px of padding to make sure the navbar doesn't overlap content! */
            padding-bottom: 50px;
            text-align: center;
            color: #f8f8f8;
             background: url({{ background_photos.Venue }}) no-repeat center center;
            background-size: cover;
        }
    </style>

    <!-- Page Content -->

	<a  name="services"></a>
    <div class="content-section-a">

        <div class="container">
            <div class="row">
                <div class="col-lg-5 col-sm-6">
                    <hr class="section-heading-spacer">
                    <div class="clearfix"></div>
                    <h2 class="section-heading">{{ event.venue }}</h2>

                    <p class="lead">
                        Awesome Hall lies within the remains of an ancient moated site, containing several medieval and post medieval timber framed and thatched barns and other traditional farm structures originally used by a wealthy farmstead.

                        </p>
 <p class="lead">
                         Awesome Hall is steeped in history. It is still possible to see where the original moat runs which pre dates most of the existing farmstead and can be seen as a large dry ditch and shallow depression and a further part is perpetuated as one of the ponds. Roman artefacts were collected by former farmer Robert Judd at Colville Hall in 1846 – these dated from the 1st to the 4th centuries AD - and included coins dating from Emperors Nero to Gratian, burial urns, oil lamps and some unusually designed metal keys.

                         </p>

                    <p class="lead">
                    This is a <b>no smoking venue</b> as the site features thatched buildings and so they prefer guests to avoid setting them on fire...
                    </p>
                        <p class="lead">{{ event.venue }}</p>
                        <div class="container">
                            {{ venue.address.rendered|safe }}
                        </div>
                    </p>

                </div>
                <div class="col-lg-5 col-lg-offset-2 col-sm-6">
                    <img class="img-responsive" src="static/img/IMG_3378.jpg" alt="">


                </div>

                   <div class="col-lg-5 col-lg-offset-2 col-sm-6">
                    <img class="img-responsive" src="static/img/directions.png" alt="">
                </div>


            </div>

        </div>
    </div>


     <div class="content-section-b">

        <div class="container">

            <div class="row">
               <div class="col-lg-5 col-lg-offset-1 col-sm-push-6  col-sm-6">

                    <hr class="section-heading-spacer">
                    <div class="clearfix"></div>
                    <h2 class="section-heading">Hotels &amp; Parking</h2>
                    <p class="lead">There are a range of hotels near the venue, Awesome Hall has collated a list <a href="" target="_self">on their website</a>.</p>
                    <p class="lead">There is ample parking at the venue, cars can be left overnight (at owners risk) but cars must be collected by <b>11am on the 4th</b>.</p>
                </div>
                 <div class="col-lg-5 col-sm-pull-6  col-sm-6">
                    <img class="img-responsive" src="static/img/IMG_3952.jpg" alt="">
                </div>
            </div>

        </div>
        <!-- /.container -->

    </div>

    <div class="content-section-a">

        <div class="container">

            <div class="row">
                   <div class="col-lg-5 col-sm-6">


                    <hr class="section-heading-spacer">
                    <div class="clearfix"></div>
                    <h2 class="section-heading">Children</h2>
                    <p class="lead">
                    Children are welcome at our Wedding, we will make every effort to secure high chairs and entertainment but if you have specific needs (or ideas!) please let us know.
                    </p>
                      <p class="lead">
                      The main kids meal will be served with the adult starters and will be chicken goujons, chips and peas. Their dessert will be a chocolate brownie and will be served with the adult main course.
                      </p>
                </div>
                  <div class="col-lg-5 col-lg-offset-2 col-sm-6">
                    <img class="img-responsive" src="static/img/fam2.png" alt="">
                </div>
            </div>

        </div>
        <!-- /.container -->

    </div>

        <!-- /.container -->

    </div>
{% endblock content %}